<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /index.php [QSA,L]
</IfModule>

# Prevent Apache from overriding PHP's Content-Type for XML responses
<IfModule mod_mime.c>
    RemoveType .xml
    AddType application/xml .xml
</IfModule>
